# Week 4 - Working with Data

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [1]:
# Import the required packages
using Distributions, DataFrames

In [2]:
# Seed the random number generator
srand(1234);

In [5]:
# Question 4: Create the 3 x 30 array named array_1
#array_1 = 
array_1 = Array{Float64}(30,3);
array_1[:,1] = rand(Normal(0, 1), 30);
array_1[:,2] = rand(Normal(10, 2), 30);
array_1[:,3] = rand(5:15, 30);

In [6]:
# Question 5: Mean and variance of column 1
println("Column 1 mean: ", mean(array_1[:,1]), " variance: ", var(array_1[:,1]))

Column 1 mean: -0.0616749637525261 variance: 1.1790054448274625

In [7]:
# Question 5 (continued): Mean and variance of column 2
println("Column 2 mean: ", mean(array_1[:,2]), " variance: ", var(array_1[:,2]))

Column 2 mean: 9.58061305561334 variance: 2.9487900775367386

In [8]:
# Question 5 (continued): Mean and variance of column 3
println("Column 3 mean: ", mean(array_1[:,3]), " variance: ", var(array_1[:,3]))

Column 3 mean: 9.366666666666667 variance: 10.24022988505747

In [9]:
# Question 6: Import array_1 into a DataFrame named df
# df = 
df = DataFrame(array_1)

30×3 DataFrames.DataFrame
│ Row │ x1         │ x2      │ x3   │
├─────┼────────────┼─────────┼──────┤
│ 1   │ 0.867347   │ 7.44066 │ 6.0  │
│ 2   │ -0.901744  │ 11.9946 │ 5.0  │
│ 3   │ -0.494479  │ 10.6048 │ 13.0 │
│ 4   │ -0.902914  │ 9.92711 │ 8.0  │
│ 5   │ 0.864401   │ 10.2839 │ 5.0  │
│ 6   │ 2.21188    │ 11.0425 │ 12.0 │
│ 7   │ 0.532813   │ 11.7935 │ 6.0  │
│ 8   │ -0.271735  │ 8.97294 │ 7.0  │
│ 9   │ 0.502334   │ 8.4704  │ 8.0  │
│ 10  │ -0.516984  │ 6.91715 │ 9.0  │
│ 11  │ -0.560501  │ 9.83968 │ 13.0 │
⋮
│ 19  │ 0.0721164  │ 7.98043 │ 13.0 │
│ 20  │ -1.50343   │ 8.91239 │ 11.0 │
│ 21  │ 1.56417    │ 7.54655 │ 6.0  │
│ 22  │ -1.39674   │ 8.91657 │ 9.0  │
│ 23  │ 1.1055     │ 8.62701 │ 7.0  │
│ 24  │ -1.10673   │ 8.57414 │ 9.0  │
│ 25  │ -3.21136   │ 9.34588 │ 5.0  │
│ 26  │ -0.0740145 │ 11.0297 │ 15.0 │
│ 27  │ 0.150976   │ 14.8349 │ 11.0 │
│ 28  │ 0.769278   │ 9.38405 │ 6.0  │
│ 29  │ -0.310153  │ 12.4906 │ 6.0  │
│ 30  │ -0.602707  │ 9.9001  │ 12.0 │

In [10]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3
rename!(df, :x1, :Var1)
rename!(df, :x2, :Var2)
rename!(df, :x3, :Var3)

30×3 DataFrames.DataFrame
│ Row │ Var1       │ Var2    │ Var3 │
├─────┼────────────┼─────────┼──────┤
│ 1   │ 0.867347   │ 7.44066 │ 6.0  │
│ 2   │ -0.901744  │ 11.9946 │ 5.0  │
│ 3   │ -0.494479  │ 10.6048 │ 13.0 │
│ 4   │ -0.902914  │ 9.92711 │ 8.0  │
│ 5   │ 0.864401   │ 10.2839 │ 5.0  │
│ 6   │ 2.21188    │ 11.0425 │ 12.0 │
│ 7   │ 0.532813   │ 11.7935 │ 6.0  │
│ 8   │ -0.271735  │ 8.97294 │ 7.0  │
│ 9   │ 0.502334   │ 8.4704  │ 8.0  │
│ 10  │ -0.516984  │ 6.91715 │ 9.0  │
│ 11  │ -0.560501  │ 9.83968 │ 13.0 │
⋮
│ 19  │ 0.0721164  │ 7.98043 │ 13.0 │
│ 20  │ -1.50343   │ 8.91239 │ 11.0 │
│ 21  │ 1.56417    │ 7.54655 │ 6.0  │
│ 22  │ -1.39674   │ 8.91657 │ 9.0  │
│ 23  │ 1.1055     │ 8.62701 │ 7.0  │
│ 24  │ -1.10673   │ 8.57414 │ 9.0  │
│ 25  │ -3.21136   │ 9.34588 │ 5.0  │
│ 26  │ -0.0740145 │ 11.0297 │ 15.0 │
│ 27  │ 0.150976   │ 14.8349 │ 11.0 │
│ 28  │ 0.769278   │ 9.38405 │ 6.0  │
│ 29  │ -0.310153  │ 12.4906 │ 6.0  │
│ 30  │ -0.602707  │ 9.9001  │ 12.0 │

In [11]:
# Question 8: Create and new DataFrame named df2 from the last 20 rows of df
df2 = df[11:end, [:Var1, :Var2, :Var3]]

20×3 DataFrames.DataFrame
│ Row │ Var1       │ Var2    │ Var3 │
├─────┼────────────┼─────────┼──────┤
│ 1   │ -0.560501  │ 9.83968 │ 13.0 │
│ 2   │ -0.0192918 │ 7.81756 │ 15.0 │
│ 3   │ 0.128064   │ 8.83897 │ 12.0 │
│ 4   │ 1.85278    │ 9.36913 │ 11.0 │
│ 5   │ -0.827763  │ 7.2771  │ 14.0 │
│ 6   │ 0.110096   │ 9.77109 │ 7.0  │
│ 7   │ -0.251176  │ 10.3317 │ 8.0  │
│ 8   │ 0.369714   │ 9.18312 │ 12.0 │
│ 9   │ 0.0721164  │ 7.98043 │ 13.0 │
│ 10  │ -1.50343   │ 8.91239 │ 11.0 │
│ 11  │ 1.56417    │ 7.54655 │ 6.0  │
│ 12  │ -1.39674   │ 8.91657 │ 9.0  │
│ 13  │ 1.1055     │ 8.62701 │ 7.0  │
│ 14  │ -1.10673   │ 8.57414 │ 9.0  │
│ 15  │ -3.21136   │ 9.34588 │ 5.0  │
│ 16  │ -0.0740145 │ 11.0297 │ 15.0 │
│ 17  │ 0.150976   │ 14.8349 │ 11.0 │
│ 18  │ 0.769278   │ 9.38405 │ 6.0  │
│ 19  │ -0.310153  │ 12.4906 │ 6.0  │
│ 20  │ -0.602707  │ 9.9001  │ 12.0 │

In [12]:
# Question 9: Calculate simple descriptive statistics of all the columns in df2 using the describe() function
describe(df2)

3×8 DataFrames.DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min      │ median     │ max     │ nunique │
├─────┼──────────┼───────────┼──────────┼────────────┼─────────┼─────────┤
│ 1   │ Var1     │ -0.187058 │ -3.21136 │ -0.0466532 │ 1.85278 │         │
│ 2   │ Var2     │ 9.49853   │ 7.2771   │ 9.2645     │ 14.8349 │         │
│ 3   │ Var3     │ 10.1      │ 5.0      │ 11.0       │ 15.0    │         │

In [13]:
# Question 10: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GroupA or GroupB
df2[:Cat1] = DataFrame(Cat1= rand(["GroupA", "GroupB"],20))

20×1 DataFrames.DataFrame
│ Row │ Cat1   │
├─────┼────────┤
│ 1   │ GroupB │
│ 2   │ GroupB │
│ 3   │ GroupA │
│ 4   │ GroupA │
│ 5   │ GroupA │
│ 6   │ GroupA │
│ 7   │ GroupB │
│ 8   │ GroupB │
│ 9   │ GroupB │
│ 10  │ GroupB │
│ 11  │ GroupA │
│ 12  │ GroupB │
│ 13  │ GroupA │
│ 14  │ GroupB │
│ 15  │ GroupA │
│ 16  │ GroupB │
│ 17  │ GroupB │
│ 18  │ GroupA │
│ 19  │ GroupA │
│ 20  │ GroupA │

In [22]:
# Question 11: Create a new DataFrame named df3
df3 = DataFrame(A = 1:20, B = 21:40, C = 41:60)

20×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 21 │ 41 │
│ 2   │ 2  │ 22 │ 42 │
│ 3   │ 3  │ 23 │ 43 │
│ 4   │ 4  │ 24 │ 44 │
│ 5   │ 5  │ 25 │ 45 │
│ 6   │ 6  │ 26 │ 46 │
│ 7   │ 7  │ 27 │ 47 │
│ 8   │ 8  │ 28 │ 48 │
│ 9   │ 9  │ 29 │ 49 │
│ 10  │ 10 │ 30 │ 50 │
│ 11  │ 11 │ 31 │ 51 │
│ 12  │ 12 │ 32 │ 52 │
│ 13  │ 13 │ 33 │ 53 │
│ 14  │ 14 │ 34 │ 54 │
│ 15  │ 15 │ 35 │ 55 │
│ 16  │ 16 │ 36 │ 56 │
│ 17  │ 17 │ 37 │ 57 │
│ 18  │ 18 │ 38 │ 58 │
│ 19  │ 19 │ 39 │ 59 │
│ 20  │ 20 │ 40 │ 60 │

In [23]:
# Question 12: Change indicated values to empty entries

allowmissing!(df3) 

# Have to use this due to the error UndefVarError: NA not defined julia DataFrame - JuliaBox 0.6.2
# NA, NaN and "NA" - all of these error


df3[10, :A] = missing # Use 'missing' instead of NA
df3[15, :B] = missing # Use 'missing' instead of NA
df3[19, :C] = missing # Use 'missing' instead of NA

#  Ref Link to Discussion Group soln. - https://www.coursera.org/learn/julia-programming/discussions/weeks/4/threads/8_mNNpKkEei01hIZRZ5mAA

missing

In [14]:
# Question 13: Create DataFrame df4 that contains no rows with NaN (NA) values

In [19]:
df4 = complete_cases!(df3)

17×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 21 │ 41 │
│ 2   │ 2  │ 22 │ 42 │
│ 3   │ 3  │ 23 │ 43 │
│ 4   │ 4  │ 24 │ 44 │
│ 5   │ 5  │ 25 │ 45 │
│ 6   │ 6  │ 26 │ 46 │
│ 7   │ 7  │ 27 │ 47 │
│ 8   │ 8  │ 28 │ 48 │
│ 9   │ 9  │ 29 │ 49 │
│ 10  │ 11 │ 31 │ 51 │
│ 11  │ 12 │ 32 │ 52 │
│ 12  │ 13 │ 33 │ 53 │
│ 13  │ 14 │ 34 │ 54 │
│ 14  │ 16 │ 36 │ 56 │
│ 15  │ 17 │ 37 │ 57 │
│ 16  │ 18 │ 38 │ 58 │
│ 17  │ 20 │ 40 │ 60 │