# Working with Data

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [1]:
# Import the required packages
using Distributions, DataFrames

In [2]:
# Seed the random number generator
srand(1234);

In [3]:
# Question 4: Create the 3 x 30 array named array_1
#array_1 =

In [4]:
# Question 5: Mean and variance of column 1

In [5]:
# Question 5 (continued): Mean and variance of column 2

In [6]:
# Question 5 (continued): Mean and variance of column 3

In [7]:
# Question 6: Import array_1 into a DataFrame named df
# df =

In [8]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3

In [9]:
# Question 8: Create and new DataFrame named df2 from the last 20 rows of df

In [10]:
# Question 9: Calculate simple descriptive statistics of all the columns in df2 using the describe() function

In [11]:
# Question 10: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GroupA or GroupB

In [12]:
# Question 11: Create a new DataFrame named df3

In [13]:
# Question 12: Change indicated values to empty entries

In [14]:
# Question 13: Create DataFrame df4 that contains no rows with NaN (NA) values